
@import "tailwindcss";
:root {
  --background: #080808;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1a1a1a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background-color: var(--background);
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  line-height: 1.6;
  margin: 0;
}
